<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            Twitter Service
            {% if name %}
            : {{ name }}
            {% endif %}
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/status">Post Status</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



    {% if tweets %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                {% for tweet in tweets %}
                <div class="tweet mt-5 border border-info p-2 bg-light-border rounded-3">
                    <a href="/tweet:{{ tweet["id"] }}">
                        {{ tweet["text"]}}
                    </a>
                    <p>
                        The sentiment of this tweet appears to be: {{ sentiment }}
                    </p>
                        <a href="/remove_status:{{ tweet["id"] }}" id={{ tweet["id"] }} ><i class="fa fa-trash-o pull-right"></i></a>
                        <!-- <form action="/remove_status"  value="test" style="display: inline-block;">
                            <button type="submit" class="pull-right">
                                <i class="fa fa-trash-o pull-right"></i>
                            </button>
                        </form> -->
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>